* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

body {
  background: -webkit-gradient(linear, left top, right top, from(#2193b0), to(#6dd5ed));
  background: linear-gradient(to right, #2193b0, #6dd5ed);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

input, button {
  font-family: 'Montserrat', sans-serif;
}

.wrap {
  background: white;
  height: 600px;
  width: 100%;
  max-width: 800px;
  border-radius: 8px;
  padding: 50px;
  margin: 20px;
}

.main-header {
  margin-top: 0;
}

.list-wrap {
  width: 100%;
  height: 400px;
  margin-top: 20px;
  margin-bottom: 20px;
  overflow-y: auto;
}

.list-wrap .list_elem_txt {
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
}
